*.root
*.pyc
*.png
*.gif
*.pdf
preprocess/crab/submit*
preprocess/local/allCfgs/*cfg.py
preprocess/local/allCfgs/*cfg.pyc
preprocess/crab/allAltCrabCfgs/*.pyc
preprocess/crab/allAltCrabCfgs/*.py
*log*
# */Logs/*
*Log.txt
*.h5
*.pkl
*.out
*.err
*vscode*
*workspace*
samples/backup/*
training/models/*
training/plots/*
*.txt
tools/BuilderExport/*
tools/GraphExport/*
*.swp
formatConverter/eosSamples/*.txt
preprocess/crab/allAltCrabCfgs/crab_projects/
