*.root
*.pyc
*.png
*.gif
*.pdf
preprocess/crab/submit*
preprocess/local/allCfgs/*
preprocess/crab/allAltCrabCfgs/*
*log*
# */Logs/*
*Log.txt
*.h5
*.pkl
*.out
*.err
*vscode*
*workspace*
samples/backup/*
training/models/*
